    <!-- Portfolio Grid Section -->
    <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Gestão</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!--
                        **
                        **   Atendente: Vanderson
                        **
                    -->
                    <div class="col-sm-2 portfolio-item">
                        <a href="https://workserv.screenconnect.com/?Session=e8d5fcf4-7dc3-406e-9b61-41a641afd7ed" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    Atendente:<br/>Vandersson
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/img/fotos/vandersson.png" class="img-responsive atendente" alt="">
                        </a>
                    </div>
    
                    <!--
                        **
                        **   Atendente: Vanessa
                        **
                    -->
                    <div class="col-sm-2 portfolio-item">
                        <a href="https://workserv.screenconnect.com/?Session=55d217fc-c7be-4ac8-b10b-956c296327cb" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    Atendente:<br/>Vanessa
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/img/fotos/vanessa.png" class="img-responsive atendente" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Portfolio Grid Section -->
    <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Administradores</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!--
                        **
                        **   Conectividade
                        **
                    -->
                    <div class="col-2 portfolio-item">
                        <a href="https://workserv.screenconnect.com/?Session=e3591424-3f9a-4b44-8fe4-48fadbd0ed2f" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    Conectividade
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/img/fotos/vandersson.png" class="img-responsive atendente" alt="">
                        </a>
                    </div>
    
                    <!--
                        **
                        **   Desenvolvimento
                        **
                    -->
                    <div class="col-2 portfolio-item">
                        <a href="https://workserv.screenconnect.com/?Session=55d217fc-c7be-4ac8-b10b-956c296327cb" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    Desenvolvimento
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/img/fotos/vanessa.png" class="img-responsive atendente" alt="">
                        </a>
                    </div>
    
                    <!--
                        **
                        **   Comercial
                        **
                    -->
                    <div class="col-2 portfolio-item">
                        <a href="https://workserv.screenconnect.com/?Session=b62cfdda-70d6-4b9f-8227-ac7571f752b4" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    Comercial
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/img/fotos/vanessa.png" class="img-responsive atendente" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>