    <!-- Portfolio Grid Section -->
    <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Gestão</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <!--
                        **
                        **   Atendente: Vanderson
                        **
                    -->
                    <div class="col-sm-2 portfolio-item">
                        <a href="https://workserv.screenconnect.com/?Session=e8d5fcf4-7dc3-406e-9b61-41a641afd7ed" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    Atendente:<br/>Vandersson
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/img/fotos/vandersson.png" class="img-responsive" alt="">
                        </a>
                    </div>
    
                    <!--
                        **
                        **   Atendente: Vanessa
                        **
                    -->
                    <div class="col-sm-2 portfolio-item">
                        <a href="https://workserv.screenconnect.com/?Session=55d217fc-c7be-4ac8-b10b-956c296327cb" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    Atendente:<br/>Vanessa
                                </div>
                            </div>
                            <img src="{{ site.baseurl }}/img/fotos/vanessa.png" class="img-responsive" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>