<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Biofinger</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <!--
                    **
                    **   Atendente: Carlos
                    **
                -->
                <div class="col-sm-2 portfolio-item">
                    <a href="https://workserv.screenconnect.com/?Session=ca4f0ba8-2cf3-48d4-aaa3-5823ccf32ab6" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                Atendente: Carlos
                            </div>
                        </div>
                        <img src="{{ site.baseurl }}/img/fotos/carlos.jpg" class="img-responsive" alt="">
                    </a>
                </div>

                <!--
                    **
                    **   Atendente: Fabiano
                    **
                -->
                <div class="col-sm-2 portfolio-item">
                    <a href="https://workserv.screenconnect.com/?Session=55d217fc-c7be-4ac8-b10b-956c296327cb" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                Atendente: Fabiano
                            </div>
                        </div>
                        <img src="{{ site.baseurl }}/img/fotos/fabiano.jpg" class="img-responsive" alt="">
                    </a>
                </div>

                <!--
                    **
                    **   Atendente: Gabriel
                    **
                -->
                <div class="col-sm-2 portfolio-item">
                    <a href="https://workserv.screenconnect.com/?Session=f4bf0516-5a7e-46ad-87a4-eefa08d8559b" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                Atendente: Gabriel
                            </div>
                        </div>
                        <img src="{{ site.baseurl }}/img/fotos/gabriel.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <!--
                    **
                    **   Atendente: Giuan
                    **
                -->
                <div class="col-sm-2 portfolio-item">
                    <a href="https://workserv.screenconnect.com/?Session=b607ca8f-86b9-46a5-bc63-098e3d39c7ee" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                Atendente: Giuan
                            </div>
                        </div>
                        <img src="{{ site.baseurl }}/img/fotos/giuan.jpg" class="img-responsive" alt="">
                    </a>
                </div>

                <!--
                    **
                    **   Atendente: Henrique
                    **
                -->
                <div class="col-sm-2 portfolio-item">
                    <a href="https://workserv.screenconnect.com/?Session=2a401847-f6f0-429e-ac2e-f42acfc356c9" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                Atendente: Henrique
                            </div>
                        </div>
                        <img src="{{ site.baseurl }}/img/fotos/henrique.jpg" class="img-responsive" alt="">
                    </a>
                </div>

                <!--
                    **
                    **   Atendente: Julio
                    **
                -->
                <div class="col-sm-2 portfolio-item">
                    <a href="https://workserv.screenconnect.com/?Session=81099fa9-7219-4da8-8dea-42e717260df0" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                Atendente: Julio
                            </div>
                        </div>
                        <img src="{{ site.baseurl }}/img/fotos/julio.jpg" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>